body{
    background-color: rgb(32, 118, 217);
}

h1 {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.btnDiv {
    text-align: center;
    margin-top: 30px;
}

.imgDiv {
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid whitesmoke;
    border-bottom: 3px solid black;
    background-color: rgb(43, 79, 207);
    font-size: 23px;
    margin-right: 10px;
    color: white;
}

.sadImg {
    height: 240px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

#noBtn:hover {
    cursor: not-allowed;
    color: red;
}

#yesBtn:hover {
    cursor: pointer;
}

.fixDateBtn {
    width: 190px;
    cursor: pointer;
}

.displayNone {
    display: none;
}

.btnHideOriginal {
    text-align: center;
}

